<?xml version="1.0"?>
<config>
    <modules>
        <Juno_Image>
            <version>0.1.1</version>
        </Juno_Image>
    </modules>
    <global>
        <models>
            <juno_image>
                <class>Juno_Image_Model</class>
            </juno_image>
        </models>
        <blocks>
            <juno_image>
                <class>Juno_Image_Block</class>
            </juno_image>
        </blocks>
        <helpers>
            <juno_image>
                <class>Juno_Image_Helper</class>
            </juno_image>
        </helpers>
        <resources>
            <juno_image_setup>
                <setup>
                    <module>Juno_Image</module>
                </setup>
            </juno_image_setup>
        </resources>

    </global>
    <crontab>
        <jobs>
            <juno_optimize_image>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>juno_image/observer::optimizeImages</model>
                </run>
            </juno_optimize_image>

            <juno_optimize_image_clean>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>juno_image/observer::clean</model>
                </run>
            </juno_optimize_image_clean>
        </jobs>
    </crontab>
</config>